@font-face {
    font-family: SF Pro Display;
    src: url("fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: SF Pro Display Bold;
    src: url("fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: SF Pro Rounded Regular;
    src: url("fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
}

@font-face {
    font-family: SF Pro Rounded Bold;
    src: url("fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
}

body {
    padding: 0;
    margin: 0;
    max-width: 1920px;
}

.primary-button {
    border-radius: 20px;
    height: 40px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5D06D;
    color: #04383E;
    font-family: SF Pro Rounded Regular, sans-serif;
    font-size: 20px;
    border-width: 1px;
    cursor: pointer;
}

.main {
    height: 95vh;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 2fr repeat(8, 3fr) 2fr;
    grid-column-gap: 8px;
}

/*--------------NavBar------------------*/
#header .grid-wrapper {
    grid-template-rows: 75px;
    align-items: center;
}

#header .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2 / span 2;
}

#header .logo .title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#header .logo img {
    width: 275px;
}

#header .welcome {
    grid-column: 7 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
}

#header .welcome img {
    width: 24px;
    height: auto;
    padding-left: 10px;
}


#header .welcome p {
    grid-column: 1 / span 2;
    position: relative;
    display: flex;
    align-items: end;
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    justify-self: end;
    cursor: pointer;
}

#header {
    background: #04383E;
}

/*-------------Landing Page---------------*/
#landing {
    display: flex;
    min-height: 90%
}

#landing .grid-wrapper {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 2fr;
    grid-column-gap: 8px;
    grid-template-rows: repeat(2, 2fr);
    grid-row-gap: 8px;
}

#landing .grid-wrapper .logo {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    width: 500px;
    justify-self: center;
    align-self: center;
    margin-right: 50px;
    margin-left: 50px;
}

#landing .grid-wrapper .controller {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

#landing .grid-wrapper .chess {
    display: grid;
    grid-column: 4;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

#landing .grid-wrapper #get-started {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    margin-top: 50px;
    align-self: start;
}

#landing #get-started button {
    font-size: 45px;
    height: auto;
    letter-spacing: 5px;
    padding: 20px 30px;
    background-color: #04383E;
    color: #FFFFFF;
}

/*--------------Login Page--------------*/
#login, #register {
    margin: auto;
    max-width: 300px;
    display: grid;
}

#login .title,
#register .title {
    color: #04383E;
    font-size: 36px;
    justify-self: center;
}

#login .buttons,
#register .buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

/*--------------Custom Input Field--------------*/
.input {
    position: relative;
    margin: 20px 0;
}

.input input {
    background: none;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #04383E;
}

.input input:focus {
    outline: none;
}

.input input:focus ~ label,
.input input:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #04383E;
}

.input input:focus ~ .bar:before {
    width: 100%;
}

.input label {
    color: #04383E;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

.input .bar {
    position: relative;
    display: block;
    width: 100%;
}
.input .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #04383E;
    transition: 0.2s ease all;
    left: 0;
}

/*--------------Home Page---------------*/
#home .grid-wrapper {
    grid-template-rows: 400px auto;
    grid-template-columns: auto repeat(3, 398px) auto
}

#home .choose.button {
    grid-row: 1;
    grid-column: 3;
    justify-self: stretch;
    align-self: center;
    background-color: #F5D06D;
    border: none;
    color: #04383E;
    text-decoration: none;
    cursor: pointer;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    border-radius: 50px;
    box-shadow: #707070 3px 3px 6px;
}

#home .try-title {
    grid-row: 1;
    grid-column: 2 / span 2;
    align-self: end;
    padding-bottom: 32px;
    font-size: 48px;
    color: #04383E;
}

#home .games {
    grid-row: 2;
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 410px;
    grid-row-gap: 38px;
    grid-column-gap: 16px;
    align-items: start;
}

#home .games .game {
    justify-self: stretch;
    border-radius: 50px;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "image image"
        "title title"
        "player length"
        "difficulty difficulty";
    align-items: center;
    justify-items: center;
    height: 390px;
    box-shadow: #707070 3px 3px 6px;
    background-color: #F5D06D;
    transition: all .2s;
    color: #04383E;
    overflow: hidden;
}

#home .games .game:hover {
    height: 410px;
    grid-template-rows: 4fr 1fr 1fr 2fr;
}

#home .games .game .image {
    grid-area: image;
}

#home .games .game .image img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: #04383E 1px solid;
    width: 394px;
}

#home .games .game .title {
    grid-area: title;
    font-size: 36px;
}

#home .games .game .players img,
#home .games .game .length img {
    height: 36px;
    width: auto;
}

#home .games .game .players {
    grid-area: player;
    display: grid;
    justify-items: center;
}

#home .games .game .length {
    grid-area: length;
    display: grid;
    justify-items: center;
}

#home .games .game .difficulty {
    grid-area: difficulty;
    place-self: stretch;
    display: grid;
    place-items: center;
    margin-top: 15px;
}

#home .games .game .difficulty .text {
    transition: opacity 0.2s;
    opacity: 0;
}

#home .games .game:hover .difficulty .text  {
    opacity: 100%;
}

#home .games .no-games {
    font-size: large;
    grid-column: 2;
    align-self: center;
    color: #707070;
}

#profile #profile-values {
    margin-top: 40px;
}

#profile .key {
    font-family: SF Pro Rounded Bold, sans-serif;
    font-size: 24px;
    color: #04383E;
    grid-column: 3 / span 1;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 8px;
 }

#profile .value {
    font-family: SF Pro Rounded, sans-serif;
    font-size: 20px;
    color: #04383E;
    grid-column: 4 / span 2;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#profile #edit-profile {
    grid-column: 6 / span 2;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

#profile #add-game {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

#profile #game-table {
    margin-top: 40px;
}

#profile #game-table .row {
    display: grid;
    grid-template-columns: 2fr repeat(8, 3fr) 2fr;
    grid-column-gap: 8px;
    color: #04383E;
    font-size: 24px;
}

#profile #game-table #table-header {
    font-family: SF Pro Display Bold, sans-serif;
}

#profile #game-table #table-header .game-col {
    border-bottom: 4px solid #04383E;
}

#profile #game-table #table-header .players-col {
    border-bottom: 4px solid #04383E;
}

#profile #game-table #table-header .diff-col {
    border-bottom: 4px solid #04383E;
}

#profile #game-table #table-header .length-col {
    border-bottom: 4px solid #04383E;
}

#profile #game-table .row .game-col {
    grid-column: 3 / span 3;
    margin-right: -8px;
    border-right: 2px solid #04383E;
    padding: 4px 8px;
}

#profile #game-table .row .players-col {
    grid-column: 6;
    border-left: 2px solid #04383E;
    border-right: 2px solid #04383E;
    text-align: center;
    padding: 4px 8px;
    margin-right: -8px;
}

#profile #game-table .row .diff-col {
    grid-column: 7;
    border-left: 2px solid #04383E;
    border-right: 2px solid #04383E;
    text-align: center;
    padding: 4px 8px;
    margin-right: -8px;
}

#profile #game-table .row .length-col {
    grid-column: 8;
    border-left: 2px solid #04383E;
    text-align: center;
    padding: 4px 8px;
    margin-right: -8px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.active {
    display: block;
}

.content {
    position: relative;
    background-color: #04383E;
    color: #F5F5F5;
    margin: auto;
    border-radius: 50px;
    padding: 0;
    border: 1px solid #888;
    width: 980px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal .content .footer {
    display: grid;
    height: 60px;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -200px;
}

.modal .content .footer .pages {
    display: flex;
    grid-column: 2;
    justify-content: center;
}

.modal .content .footer .pages .page {
    background-color: #F5D06D;
    width: 24px;
    height: 24px;
    margin: 8px;
    border-radius: 24px;
    transition: background-color 0.2s;
}

.modal .content .footer .pages .page.active {
    background-color: #DBF6FF;
}

.modal .content .footer .next.button {
    width: 160px;
    height: 48px;
    background-color: #F5D06D;
    border-radius: 15px;
    color: #04383E;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.modal .content .body {
    display: none;
    grid-template-rows: 150px 560px auto;
}

.modal .content .body.active {
    display: grid;
}

.modal .content .body .title {
    font-size: 42px;
    align-self: end;
    justify-self: center;
}

.modal .content .body .input {
    justify-self: center;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.input .values {
    display: grid;
    grid-template-columns: repeat(6, 20px);
    justify-content: space-between;
    align-self: end;
    margin-bottom: 20px;
    font-size: 42px;
}

.input .values .value.display {
    font-size: 56px;
    padding-bottom: 5px;
    align-self: start;
}

.input .values .value {
    align-self: end;
}

.input .slider {
    width: 590px;
    height: 20px;
    border-radius: 15px;
    background: #F5D06D;
}

.input .slider.gradient {
    background: linear-gradient(to right, #77dd77, #fdfd96, #ff6961);
}

.input .slider input {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: none;
    outline: none;
}

.input .slider input::-webkit-slider-thumb,
.input .slider input::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 45px;
    background: #FFF;
    cursor: pointer;
}

.search {
    grid-column: 1 / span 5;
    grid-row: 1;
    color: #04383E;
    background: #F5D06D;
    height: 0;
    display: grid;
    width: 100%;
    transition: height 0.25s ease-in-out;
    overflow: hidden;
    grid-template-columns: auto repeat(3, 398px) auto;
    grid-template-rows: 50px auto;
    grid-row-gap: 16px;
}

.search.active {
    height: 220px;
}

.search .header {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / span 3;
    grid-row: 1;
    border-bottom-color: #04383E;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.search .header .title {
    font-size: 34px;
}

.search .header .close {
    font-size: 16px;
}

.search .header .close .button {
    font-size: 30px;
    cursor: pointer;
}

.search .filters {
    display: grid;
    padding: 0 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-column: 2 / span 3;
    grid-row: 2;
}

.search .filters .filter {
    display: grid;
    grid-template-rows: 40px auto;
}

.search .filter .title {
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
}

.search .filters .filter .input,
.search .filters .filter .input > .display {
    align-self: end;
}

.search .filters .filter .input {
    height: 90px;
}

.search .filters .filter .input > .display {
    height: 104px;
}

.search .filters .filter .input .values {
    font-size: 24px;
}

.search .filters .filter .input .values .value.display {
    font-size: 30px;
}

.filter .input .slider {
    width: 100%;
    height: 10px;
    background: #FFF;
}

.filter .input .slider.gradient {
    background: linear-gradient(to right, #77dd77, #fdfd96, #ff6961);
}

.filter .input .slider input {
    height: 10px;
}

.filter .input .slider input::-webkit-slider-thumb,
.filter .input .slider input::-moz-range-thumb {
    width: 10px;
    height: 45px;
    background: #04383E;
}

